<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hello {{name}},</p>
        <p>This is a confirmation email for your Bookbunny account.</p>
        <a href={{link}}>Confirm Email</a>
        <p>If you did not make this request, please ignore this email.</p>
    </body>
</html>