<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hello {{name}}!</p>
        <p>We're sorry to see you go!</p>
        <p>We hope you've enjoyed using Bookbunny.</p>
    </body>
</html>