<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>You have a new ticket!</p>
        <p>Here are the details:</p>
        <p>Name: {{name}}</p>
        <p>Email: {{email}}</p>
        <p>Message: {{message}}</p>
    </body>
</html>